.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white !important;
  padding: 20px !important;
  border-radius: 4px !important;
  width: 60% !important;
  max-width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}



.header, .footer {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}

.close-button, .footer-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.close-button:hover, .footer-button:hover {
  background-color: #1f7a33;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.close-icon {
  margin-right: 10px;
}

.message {
  color: #28a745;
  font-weight: bold;
  padding: 30px auto;
}

