
h1 {
    font-size: 2rem; 
    color: #333;
    text-align: center;
    margin-bottom: 8px; 
}

.intro {
    font-size: 1.25rem;
    color: #777;
    text-align: center;
    margin-bottom: 20px; 
    font-style: italic; 
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}


/* Grid Styles */


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 10px;
    width: 80%;
    margin: auto;
    font-size: 13px;
}

/* Card Styles */
.card {
    border: 1px solid #e0e0e0; /* Lighter border for better aesthetics */
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1); /* Shadow effect */
    transition: 0.3s; 
}
h2 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.price {
    font-size: 15px;
}
.card:hover {
    transform: scale(1.03); /* Slight scale on hover for interactive feel */
}

/* Button Styles */
button {
    background-color: #007BFF; /* Blue color */
    color: #fff; /* White text */
    border: none;
    padding: 8px 16px;
    margin: 3px 3px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Shadow effect */
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    /* Font */
  

    .grid {
        grid-template-columns: repeat(2, 60%); /* 2 products per row with each taking 45% width */
        
        margin: 0px 20px;
    }

  
    .card{
        margin: 0px;
}
}
